body {
  font-family: Arial, sans-serif;
  background: #fffaf0;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}
header {
  background: #f5c518;
  padding: 1rem;
}
nav a {
  margin: 0 1rem;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  color: #000;
}
main { padding: 2rem; }
.btn {
  background: #f5c518;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}
footer {
  background: #f5c518;
  padding: 1rem;
  margin-top: 2rem;
}